.meinberg {

	background-image: url(../img/ntp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	
}

.transtion-networks {
	background-image: url(../img/transition-networks.jpg);
	background-position: center;
	background-repeat: no-repeat;
	
}

#mainHeader{
	height: 400px;
	background-image: url('../img/header_background.jpg'); 
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

.home-inner {
	height: 400px;
	background-color: rgb(0,0,0,0.7);

}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer1 {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row p {
	    padding: 20px;
        text-align: justify;
	    font-style: italic;
	  /*  height: 100px;*/
}

.row h1 {
       margin-top:5%;
}

.row {
	border-top: 2px solid  red;
	margin-left: 0px;
	margin-right: 0px;
	
}

.row .col-3{
	margin-top: auto;
    margin-bottom: auto;
}
row 
header{
	background-color: #06ACB8 !important;

}


.control{
	background-color: #06ACB8;
}


.sectionfooter {
    margin: 44px 0px 0px;
    padding: 0px;
    background: black;
}

#market{
	  
}

.nounderline {
	border-top: none;
}

#market p {
	right: 40%;
    position: absolute;
    /* padding-left: 50%; */
    top: 47%;
    color: white;
    font-size: x-large;
}
.irm{
	background-image: url('../img/irslide1.jpg'); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


}

.sumito{
	background-image: url('../img/rubber.jpg'); 
	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}